<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'rootFiles/js_files.html' %}
</head>
<body>
    <form method="post" id="login_form">
        <label for="user_username">Uživatelské jméno/e-mail</label>
        <input type="text" name="user_username" id="user_username">
        <label for="user_password">Heslo</label>
        <input type="text" name="user_password" id="user_password">
        <button type="submit">
            Přihlásit se
        </button>
    </form>
</body>

<script>
    $(function () {
        $('#login_form').on("submit", function (event) {
            event.preventDefault()
            form = $(this)
            $.ajax({
                type: 'POST',
                url: '/app/login/',
                data: form.serialize(),
                success: function (response) {
                    console.log(response)
                    window.location = '/protected'
                }
            })
        })
    })
</script>
</html>
