<div class="outerBox_add-edit_window">
    <div id="addWindow" style="position:absolute; z-index: 5">
        <div class="main_wind">
            {% for foo in record %}
                <div style="height: fit-content">
                    <div>
                        <h1 style="font-size: 1.75rem">Záznam s id {{ foo.id }}</h1>
                        <div style="margin-bottom: 10px">
                            <div style="display: flex; gap: 4px" id="categorie_list_over">
                            </div>
                        </div>
                        <div class="flex_row">
                            <h2 style="">{{ foo.dates }}</h2>
                            <div style="margin-right: 15px; margin-left: 15px;">-</div>
                            <h2>{{ foo.timeInMinutes }} minut</h2>
                        </div>

                        <h3>Programovací jazyk: <span style="font-weight: 200;">{{ foo.programmingLang }}</span></h3>
                        <h2>Hodnocení: <span style="font-weight: 200;">{{ foo.rating }}/5</span></h2>
                        <div style="margin-top: 25px">
                            <span style="font-size: 1.5rem">Popis</span>
                            <div style="height: fit-content; overflow-y: auto; margin: 0 0 15px">
                                <span>{{ foo.description }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="wrap flex center" style="margin-top: 35px">
                        <button type="button" class="button_text" id="closeOverview">
                            <span class="button_filled-text">Zavřít</span>
                        </button>
                    </div>
                </div>

            {% endfor %}

            <script>
                var categories_assigned_to_record_names
                var categories_assigned_to_record_colors
                var catList = []

                cancel_about()

                function cancel_about() {
                    console.log("ready")
                    $('#_addEdit_window').css('display', 'block')
                    $('#closeOverview').click(function () {
                        $('#_addEdit_window').css('display', 'none')
                        $('#addWindow').remove()
                    })
                }

                $(function () {
                    $('#addWindow').on("click", function () {
                        event.stopPropagation()
                    })

                    categories_assigned_to_record_names = {{ names|tojson|safe }};
                    categories_assigned_to_record_colors = {{ colors|tojson|safe }};

                    for (var i = 0; i < categories_assigned_to_record_names.length; i++) {
                        if (categories_assigned_to_record_names[i] !== "NULL") {
                            catList.push(categories_assigned_to_record_names[i])
                            catList.push(categories_assigned_to_record_colors[i])
                            console.log("Cat " + catList)
                            $('#categorie_list_over').append('<div style="position: relative;">' +
                                '<div style="background-color: ' + categories_assigned_to_record_colors[i] + '" class="helper_cat">' +
                                '<span style="">Název: ' + categories_assigned_to_record_names[i] + '</span>' +
                                '</div>' +
                                '</div>')
                        }
                    }
                })
            </script>

        </div>
    </div>
</div>