<div class="range">
    <div>
        <div class="range-slider">
            <span class="range-selected"></span>
        </div>
        <div class="range-input">
            <input type="range" class="min" min="0" max="5" value="0" step="1">
            <input type="range" class="max" min="0" max="5" value="5" step="1">
        </div>
    </div>


    <div class="range-price" style="position: absolute;
left: 0;
bottom: -11px;">
        <input type="number" name="min" id="min_rating" value="0" max="5" min="0">
    </div>
    <div class="range-price" style="position: absolute;
right: 0;
bottom: -11px;">
        <input type="number" name="max" id="max_rating" value="5" max="5" min="0">
    </div>
</div>

