{% block userTable %}
    <table id="table_users_s">
        <thead id="user_thead">
        <tr>
            <td style="padding: 15px 0; width: 2%; text-align: center">#</td>
            <td style="padding-left: 15px">Jméno</td>
            <td style="padding-left: 15px">Uživatelské jméno</td>
            <td style="text-align: center; padding: 0">Akce</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td style="width: 9%; text-align: center; padding: 15px 0;">{{ user.id }}</td>
                <td style="padding-left: 15px">{{ user.firstname }} {{ user.lastname }}</td>
                <td style="padding-left: 15px">{{ user.username }}</td>
                <td style="width: 20%; padding: 0">
                    {#
                <a href="/user/{{ user.programmer }}/delete">Delete</a>
                #}
                    <div style="display: flex; justify-content: space-around;">
                        <a class="button_edit_user"
                           onclick="getUserId('{{ user.id }}');edit_user(); function set_legend_text() {
                                   legend_text = 'Upravení Uživatele'
                                   } set_legend_text();" {# href="/user/{{ user.programmer }}/edit" #}
                           style="cursor:pointer;">Edit</a>
                        <a onclick="getUsername('{{ user.username }}');remove_user();set_remove_statement('user')"
                           id="button_delete_user" style="cursor:pointer;">Delete</a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        if (window.page_users) {
            page_users()
        }
    </script>
{% endblock %}
