<style>

</style>
<div style="border: 1px #626262 solid; border-radius: 4px; margin: 10px">
    <div style="{# width: 1576px; #}">
        <div style="width: 100%; height: 55px; display: flex; align-items: center">
            <div style="display: flex; width: 100%; align-items: center; position:relative;">
                <div style="position:absolute; left: 59px">
                    <span>Záznamy</span>
                </div>


                <div style="position:absolute; right: 59px; display: flex;">
                    <div id="filters_button" style="">
                        <span>Filtry</span>
                        <div style="margin-left: 15px">
                            <svg style="display: flex" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                 stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
                                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                            </svg>
                        </div>
                    </div>
                    <div id="backup_button" style="">
                        <span style="color: white">Záloha</span>
                        <div style="margin-left: 15px">
                            <svg style="display: flex; color: white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>


                {#
                <div style="display: flex; width: fit-content; align-items: center; padding: 10px 40px; border-radius: 12px; border: 1px black solid; position:absolute; right: 32px">
                    <img src="../../static/svg/filter.png" alt="" style="width: 18px; margin-right: 5px">
                    <span>Filtry</span>
                </div>
#}
            </div>

        </div>
    </div>
    <table id="records_table" style="" class="display">
        <thead>
        <tr style=" height: 55px;">
            <th class="datatable-nosort" style="cursor: default">
                id
            </th>
            <th id="sort-button-programLang" class="ui-sort-control">
                <div style="display: flex; align-items: center;">
                    <span>
                        Jazyk
                    </span>
                    <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                        <img id="sort-button-programmingLang-az"
                             style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-za.svg') }}" alt="">
                        <img id="sort-button-programmingLang-za" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-az.svg') }}" alt="">
                    </div>

                </div>
            </th>
            <th id="sort-button-time" class="ui-sort-control">
                <div style="display: flex; align-items: center;">
                    <span>
                        Čas
                    </span>
                    <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                        <img id="sort-button-timeInMinutes-az" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-za.svg') }}" alt="">
                        <img id="sort-button-timeInMinutes-za" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-az.svg') }}" alt="">
                    </div>

                </div>
            </th>
            <th style="cursor: auto;cursor: default;">
                Popis
            </th>
            <th id="sort-button-date" class="ui-sort-control">
                <div style="display: flex; align-items: center;">
                    <span>
                        Datum
                    </span>
                    <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                        <img id="sort-button-dates-az" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-za.svg') }}" alt="">
                        <img id="sort-button-dates-za" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-az.svg') }}" alt="">
                    </div>
                </div>
            </th>
            <th id="sort-button-rating" class="ui-sort-control">
                <div style="display: flex; align-items: center;">
                    <span>
                        Hodnocení
                    </span>
                    <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                        <img id="sort-button-rating-az" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-za.svg') }}" alt="">
                        <img id="sort-button-rating-za" style="width: 24px; display: none"
                             src="{{ url_for('static', filename='svg/sort-az.svg') }}" alt="">
                    </div>
                </div>
            </th>
            <th style="cursor: default;">Akce</th>
        </tr>
        </thead>

        <tbody id="table-content">
        {% for record in texts %}
            <tr style="">
                <td style="text-align: center; position:relative;">
                    {{ record.id }}
                </td>
                <td>{{ record.programmingLang }}</td>
                <td style="text-align: left">{{ record.timeInMinutes }}</td>
                <td style="max-height: 55px; overflow-y: auto"><span class="short_desc">{{ record.description }}</span>
                </td>
                <td>{{ record.dates }}</td>
                <td>{{ record.rating }}/5</td>
                <td>
                    <div>
                        <a style="cursor:pointer;" class="contextMenu_record_more_section">
                            <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        d="M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6Z"
                                        fill="currentColor"
                                />
                                <path
                                        d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z"
                                        fill="currentColor"
                                />
                                <path
                                        d="M14 18C14 19.1046 13.1046 20 12 20C10.8954 20 10 19.1046 10 18C10 16.8954 10.8954 16 12 16C13.1046 16 14 16.8954 14 18Z"
                                        fill="currentColor"
                                />
                            </svg>
                        </a>
                        <div style="" class="contextMenu_record">
                            <ul style="">
                                <li style="">
                                    <a onclick="get_record_id('{{ record.id }}'); edit_record();">Upravit</a>
                                </li>
                                <li style="">
                                    <a onclick="set_remove_statement('record'); get_record_id('{{ record.id }}'); remove_record();">Smazat</a>
                                </li>
                                <li style="">
                                    <a onclick="showRecord({{ record.id }})">Zobrazit</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    page()

    shortDesc()

    function shortDesc() {
        $('.short_desc').each(function () {
            textToBesShorten = $(this).text()
            if (textToBesShorten.length > 160) {
                $(this).text(textToBesShorten.substring(0, 160) + '...');
            }
        })
    }

    function page() {
        table = $('#records_table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            responsive: true,
            "aaSorting": [],
            "info": true,
            "autoWidth": false,
            "dom": 't<".table-info-records"ip>',
            language: {
                paginate: {
                    next: '&#8594;', // or '→'
                    previous: '&#8592;' // or '←'
                }
            }
        });
    }
</script>