.board {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 20px 10px;
    flex-wrap: wrap;
}

.menu {
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 4rem;
    width: 100%;
}

.menuDelete {
    display: none;
    margin: 5px;
}
