@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}


* {
    font-family: "Roboto Condensed";
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    margin: 0;
}

p, label {
    font-size: 1rem;
}

.flex_pres {
    display: flex;
    flex-flow: column wrap;
    max-width: 702px;
    min-height: 492px;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4px;
}

.flex {
    display: flex;
}

.flex_row {
    display: flex;
    flex-flow: row wrap;
}

.center {
    justify-content: center;
}

.buttons_action {
    justify-content: space-between;
    width: 40%;
}

.wrap {
    position: relative;
}

.popis_textBox {
    position: absolute;
    top: -0.52rem;
    left: 1rem;
    background: white;
    padding: 0 5px;
}

#_formDesc {
    padding: 0.75rem;
    width: 557px;
    min-height: 155px;
    height: 155px;
    resize: vertical;
    max-height: 544px;
}

.textfield {
    border: 1px #79747E solid;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    width: 312px;
    padding: 8px 16px;
    background: white;
}

.textbox {
    border: 1px #79747E solid;
    border-radius: 4px;
    width: 100%;
}

.descForm {
    margin-top: 1rem;
}

.buttonForm {
    margin-top: 1.25rem;
}

.spaceBetween {
    justify-content: space-between;
}

#_formMinutes {
    width: 200px;
}

legend {
    font-size: 1.5rem;
}

.ratingslider {
    display: flex;
    align-items: center;
    width: 200px;
    position: relative;
    flex-direction: column;
}

#slider_value {
    position: absolute;
    left: 0;
    top: 10px;
}

#_formRating {
    width: 100%;
}

#Submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 10;
    background: mediumpurple;
    border: 1px mediumpurple solid;
    color: white;
    border-radius: 100px;
    padding: 2rem 2rem;
    cursor: pointer;
}

.invalid {
    border-color: red;
    display: flex;
}

.float {
    /*position: fixed;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100vw;*/
    /*height: 100vh;*/
    max-height: 98vh;
    border-radius: 25px;
}

.button_filled {
    background: mediumpurple;
    border: 1px mediumpurple solid;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
}

.button_filled-text {
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bolder;
    transition: all 250ms ease;
}

.button_filled:hover {
    box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 1);
    transition: all 250ms ease;
}

.button_text {
    color: mediumpurple;
    cursor: pointer;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    transition: all 150ms ease;
}

.button_text:hover {
    background-color: rgba(147, 112, 219, 0.31);
    transition: all 250ms ease;
}

.button_text-text {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
}

.space_between_el {
    margin-top: 1rem;
}

h1, h2, h3 {
    margin: 0;
}

.main_wind {
    width: 856px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: white;
}

.input_icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.input_icons i {
    position: absolute;
    pointer-events: none;
}

.icon {
    margin: 21px;
    min-width: 22px;
    display: flex;
}

.input_icons_outer {
    width: 100%;
    display: flex;
    flex-flow: column;
}