.removeWarn_texts h2 {
    font-weight: normal;
    margin: 0;
}

#removeWarn {
    padding: 0 56px;
    min-height: 182px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

#form-delete {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    border-radius: 8px;
}

.button_removeWarn:hover {
    background-color: rgba(231, 80, 80, 0.31);
    transition: all 250ms ease;
}