/*records.css*/

.table_center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#table table {
/*table-layout: fixed;*/
}

#sort-filter {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
}

body {
    display: flex;
    flex-direction: row;
}

#records_table_info {
    text-align: right;
}

#records_table_paginate {
    display: flex;
    justify-content: flex-end;
}

#records_table_paginate span {
    margin: 0 10px;
}

.paginate_button {
    margin: 0 2px;
    cursor: pointer;
}

#records_table_paginate span .current {
    text-decoration: underline;
}

#records_table_paginate .disabled {
    opacity: 0.5;
}

#records_table_previous, #records_table_next {
    display: flex;
}

.table-info-records {
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 1;
}

#records_table_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 625px;
    position: relative;
}

.contextMenu_record {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: white;
    display: none;
    z-index: 5;
    padding: 15px;
    padding-right: 50px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px #00000024;
}

.contextMenu_record ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contextMenu_record ul li {
    width: 100%;
    font-size: 1.2rem;
    margin: 2px 0;
    cursor: pointer;
}


#table{
    max-width: 1576px;
    width: 100%;
}