.menu_container {
    /* width: 90px; */
    height: 100vh;
    display: flex;
    border-right: 1px gray solid;
    background-color: white;
}

.menu_container_inner {
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.menu_items {
    display: grid;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
}

.menu_item_wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.menu_item_wrap svg {
    width: 32px;
}

.menu_item_wrap span {
    max-width: 57px;
    text-align: center;
    font-size: 0.85rem
}

.menu_item_wrap_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item {
    cursor: pointer;
}

.menuUser {
    position: absolute;
    min-width: 12rem;
    height: fit-content;
    background-color: white;
    z-index: 5;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 91px 17px #00000024;
    left: calc(48px + 1rem);
    display: none;
    /*border: 1px gray solid;*/
}