* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

#table {
    display: flex;
    width: fit-content;
    margin-top: 15px;
    table-layout: auto;
}

#userOverview {
    border-collapse: collapse;
    width: 550px;
}

#userOverview tr td:nth-child(1) {
    width: max-content;
    padding-right: 15px;
}

#userOverview tr {

}

#userOverview tr td {
    border: 1px gray solid;
    padding: 6px;
}

#userOverview tr:nth-child(1) {
}

.button {
    display: flex;
    width: fit-content;
    padding: 7px 15px;
    border-radius: 4px;
}

.container-user-overview {
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    width: fit-content;
    min-height: 450px;
}

.container-user-overview-inner {
    display: flex;
    flex-flow: nowrap column;
    height: 100%;
    justify-content: space-evenly;
}

#user_add-edit_window_container {
    padding: 28px;
    background: white;
    border-radius: 8px;
}

.outerBox_add-edit_window {
    position: absolute;
    background: #0006;;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#_addEdit_window {
    display: none;
}

#userOverview_info {
    text-align: right;
}

#userOverview_paginate {
    display: flex;
    justify-content: flex-end;
}

#userOverview_paginate span {
    margin: 0 10px;
}

.paginate_button {
    margin: 0 2px;
    cursor: pointer;
}

#userOverview_paginate span .current {
    text-decoration: underline;
}

#userOverview_paginate .disabled {
    opacity: 0.5;
}

#userOverview_previous, #userOverview_next {
    display: flex;
}

.table-info{
    margin-top: 10px;
}

#userOverview_wrapper {
    height: 406px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}