    <link rel="stylesheet" href="{{ url_for('static', filename='css/customElements/loading_screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/records.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sortControl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userOverview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories_overview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/side_bar_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_row.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_dropbox_css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customElements/removeWarn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customElements/filters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createWindStyle.css') }}">
