<script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.csv.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/ntc.js') }}"></script>

<script src="{{ url_for('static', filename='js/records.js') }}"></script>
<script src="{{ url_for('static', filename='js/userOverview.js') }}"></script>
<script src="{{ url_for('static', filename='js/showRecordsScripts/updateTableWithoutRefresh.js') }}"></script>
<script src="{{ url_for('static', filename='js/deleteModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/vars_default.js') }}"></script>
