<div class="menu_container" style="">
    <div class="menu_container_inner" style="">
        <div class="menu_items" style="">
            <div style="display: flex; flex-flow: column; gap: 15px;">
                <a class="menu_item" onclick="add_record()" id="menu_item_add_record">
                    <div class="menu_item_wrap" style="">
                        <div class="menu_item_wrap_img">
                            <svg width="32" height="32" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 5H14V7H2V5Z" fill="currentColor"/>
                                <path d="M2 9H14V11H2V9Z" fill="currentColor"/>
                                <path d="M10 13H2V15H10V13Z" fill="currentColor"/>
                                <path d="M16 9H18V13H22V15H18V19H16V15H12V13H16V9Z" fill="currentColor"/>
                            </svg>
                        </div>

                        <span style="">
                        Přidat Záznam
                    </span>
                    </div>
                </a>

                <a class="menu_item" onclick="showCategories()" id="menu_item_show_categories">
                    <div class="menu_item_wrap" style="margin-top: 3px">
                        <div class="menu_item_wrap_img">
                            <svg width="32" height="32" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M2 8V16C2 16.5523 2.44772 17 3 17H16.6202C16.9121 17 17.1895 16.8724 17.3795 16.6508L20.808 12.6508C21.129 12.2763 21.129 11.7237 20.808 11.3492L17.3795 7.34921C17.1895 7.12756 16.9121 7 16.6202 7H3C2.44772 7 2 7.44772 2 8ZM0 8V16C0 17.6569 1.34315 19 3 19H16.6202C17.496 19 18.328 18.6173 18.898 17.9524L22.3265 13.9524C23.2895 12.8289 23.2895 11.1711 22.3265 10.0476L18.898 6.04763C18.328 5.38269 17.496 5 16.6202 5H3C1.34315 5 0 6.34315 0 8Z"
                                      fill="currentColor"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M15 13C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11C14.4477 11 14 11.4477 14 12C14 12.5523 14.4477 13 15 13ZM15 15C16.6569 15 18 13.6569 18 12C18 10.3431 16.6569 9 15 9C13.3431 9 12 10.3431 12 12C12 13.6569 13.3431 15 15 15Z"
                                      fill="currentColor"/>
                            </svg>
                        </div>

                        <span style="margin-top: 3px">
                        Zobrazit Kategorie
                    </span>
                    </div>
                </a>

                <a class="menu_item" onclick="showUsers()" id="menu_item_show_users">
                    <div class="menu_item_wrap" style="margin-top: 3px">
                        <div class="menu_item_wrap_img">
                            <svg width="32" height="32" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8 11C10.2091 11 12 9.20914 12 7C12 4.79086 10.2091 3 8 3C5.79086 3 4 4.79086 4 7C4 9.20914 5.79086 11 8 11ZM8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7C6 8.10457 6.89543 9 8 9Z"
                                      fill="currentColor"/>
                                <path
                                        d="M11 14C11.5523 14 12 14.4477 12 15V21H14V15C14 13.3431 12.6569 12 11 12H5C3.34315 12 2 13.3431 2 15V21H4V15C4 14.4477 4.44772 14 5 14H11Z"
                                        fill="currentColor"/>
                                <path d="M22 11H16V13H22V11Z" fill="currentColor"/>
                                <path d="M16 15H22V17H16V15Z" fill="currentColor"/>
                                <path d="M22 7H16V9H22V7Z" fill="currentColor"/>
                            </svg>
                        </div>

                        <span style="">
                        Zobrazit Uživatele
                    </span>
                    </div>
                </a>

                <a class="menu_item" onclick="addUser_window_outOfBox()" id="menu_item_add_user">
                    <div class="menu_item_wrap" style="margin-top: 3px">
                        <div class="menu_item_wrap_img">
                            <svg width="32" height="32" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8 11C10.2091 11 12 9.20914 12 7C12 4.79086 10.2091 3 8 3C5.79086 3 4 4.79086 4 7C4 9.20914 5.79086 11 8 11ZM8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7C6 8.10457 6.89543 9 8 9Z"
                                      fill="currentColor"/>
                                <path
                                        d="M11 14C11.5523 14 12 14.4477 12 15V21H14V15C14 13.3431 12.6569 12 11 12H5C3.34315 12 2 13.3431 2 15V21H4V15C4 14.4477 4.44772 14 5 14H11Z"
                                        fill="currentColor"/>
                                <path d="M18 7H20V9H22V11H20V13H18V11H16V9H18V7Z" fill="currentColor"/>
                            </svg>
                        </div>

                        <span style="margin-top: 3px">
                        Přidat Uživatele
                    </span>
                    </div>
                </a>
            </div>

            <div style="align-self: flex-end">
                <div style="position: relative; bottom: 0; display: flex; flex-flow: row; align-items: center">
                    <div style="margin: auto;">
                        <a style="cursor:pointer; display: flex" class="userIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"
                                 viewBox="0 0 512 512">
                                <g clip-path="url(#a)">
                                    <rect width="512" height="512" fill="#fff" rx="256"/>
                                    <g filter="url(#b)" opacity=".34">
                                        <path fill="#C2F4FF"
                                              d="M262.5 262.5c-77.6 10-207.667-29.167-263-50v305h513v-305c-163.5 0-153 37.5-250 50Z"/>
                                    </g>
                                    <circle cx="256" cy="128.608" r="69.608" fill="#5E6868"/>
                                    <ellipse cx="256" cy="339.679" fill="#5E6868" rx="172" ry="112.721"/>
                                </g>
                                <defs>
                                    <clipPath id="a">
                                        <rect width="512" height="512" fill="#fff" rx="256"/>
                                    </clipPath>
                                    <filter id="b" width="599" height="391" x="-43.5" y="169.5"
                                            color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                        <feGaussianBlur result="effect1_foregroundBlur_1_8" stdDeviation="21.5"/>
                                    </filter>
                                </defs>
                            </svg>
                        </a>
                    </div>
                    <div style="display:flex;" class="menuUser">
                        <ul style="margin:0; padding:0;list-style: none; display: flex; align-items: center; justify-content: space-between; width: 100%;">
                            <li style="display: flex; flex-flow: column;margin-right: 1rem;">
                                <span style="white-space: nowrap">{{ user_firstname }} {{ user_lastname }}</span>
                                <span style="font-size: 0.75rem; font-weight: 300">{{ username }}</span>
                            </li>
                            <li><a style="cursor: pointer; padding: 2px; display: flex;" id="">
                                <div style="display: flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-log-out">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                        <polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line>
                                    </svg>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>

<script>
    if ("{{user_perm}}" !== "admin") {
        $('#menu_item_add_user').remove()
        $('#menu_item_show_users').remove()
    }

</script>