<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {
            margin: 0;
        }

        div {
            width: 320px;
            border: 1px black solid;
            margin: 5px;
        }
    </style>
</head>
<body>
{% for texts in text %}
    <div>
        <p>{{ texts.dates }}</p>
        <p>{{ texts.timeInMinutes }}</p>
        <p>{{ texts.programmingLang }}</p>
        <p>{{ texts.rating }}</p>
        <p>{{ texts.description }}</p>
    </div>
{% endfor %}
</body>
</html>