<div class="outerBox_add-edit_window">
    <div id="user_add-edit_window_container">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <form id="form_add_edit_user" method="GET" class="flex_pres" style="min-height: fit-content">
            <legend style="margin-bottom: 1rem; align-items: flex-start" id="legend_create-edit_user">Přidání uživatele</legend>
            <div style="width: fit-content;">
                <div class="wrap">
                    <label for="form_username" class="popis_textBox">Jméno Programátora</label>
                    <input type="text" name="form_username" autocomplete="off" id="form_username" class="textfield"
                           value="{{ username }}">
                </div>

                <div class="flex_row space_between_el" style="justify-content: space-evenly;">
                    <button type="button" class="button_text" id="user_add-edit_button_cancel">
                        <span class="button_text-text">Zrušit</span>
                    </button>
                    <button type="submit" class="button_filled">
                        <span class="button_filled-text">Uložit</span>
                    </button>
                </div>
            </div>
        </form>


        <script !src="">
            cancel_add_edit_user()

            function get_addEdit_statement(statement) {
                _statement = statement
            }

            /*$(document).on('click', event => {
                if (!$(event.target).closest('#user_add-edit_window_container').length) {
                    $('#_addEdit_window').css('display', 'none')
                    $('#user_add-edit_window_container').remove()
                }
            });*/

            function cancel_add_edit_user() {
                $('#legend_create-edit_user').text(legend_text)
                console.log("ready")
                $('#_addEdit_window').css('display', 'block')
                $('#user_add-edit_button_cancel').click(function () {
                    $('#_addEdit_window').css('display', 'none')
                    $('#user_add-edit_window_container').remove()
                })
            }

            $(function () { //pridani uzivatele pomocí ajax protokolu
                $('#form_add_edit_user').submit(function (event) {
                    var localUsername = $('#form_username').val()
                    console.log(localUsername)
                    event.preventDefault()
                    if (_statement === 'button-add-user') {
                        $.ajax({
                            type: "POST",
                            url: "/app/user/" + localUsername + "/add/",
                            success: function (response) {
                                get_user_table('/app/appUpt/updateUserList');
                                $('#user_add-edit_window_container').remove()
                                $('#_addEdit_window').css('display', 'none')
                            },
                        });
                    } else if (_statement === 'button_edit_user') {
                        console.log("TEST")
                        $.ajax({
                            type: "POST",
                            url: "/app/user/" + localUsername + "/edit/",
                            success: function (response) {
                                get_user_table('/app/appUpt/updateUserList');
                                $('#user_add-edit_window_container').remove()
                                $('#_addEdit_window').css('display', 'none')
                            },
                        });
                    }
                });
            });
        </script>
    </div>

</div>
</div>
