<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="date" name="formDate" id="data" placeholder="dd-mm-yyyy">
    <input type="number" name="formMinutes" id="">
    <input type="range" name="formRating" id="" max="5" min="0">
    <input type="text" name="formProgLang" id="">
    <textarea name="formDesc" id="" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
</form>
</body>
</html>