<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>

</head>
<body>
{% block create %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <div class="float">
        <form name="addRecord" method="post" class="flex_pres" onsubmit="return validateForm()">
            <div style="margin: 2rem;">
                <legend>Přidat Záznam</legend>

                <div class="flex_row spaceBetween" style="margin-top: 2rem">
                    <div class="wrap">
                        <label class="popis_textBox" for="_formProgLang_select">Programovací Jazyky</label>
                        <select name="formProgLang_select" id="_formProgLang_select" class="textfield" itemid="0">
                            <option value="None">None</option>
                            {% for def in defs %}
                                <option id="option_{{ def.progLangs }}"
                                        value="{{ def.progLangs }}">{{ def.progLangs }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="ratingslider">
                        <input type="range" name="formRating" id="_formRating" max="5" min="0" value="0">
                    </div>
                </div>

                <div class="flex_row spaceBetween descForm">
                    <div style="width: 45%" class="wrap">
                        <label class="popis_textBox" for="_formDate">Datum</label>
                        <input type="date" name="formDate" class="textfield" id="_formDate" placeholder="dd-mm-yyyy">
                    </div>
                    <div class="wrap">
                        <label class="popis_textBox" for="_formMinutes">Čas</label>
                        <input type="number" name="formMinutes" class="textfield" id="_formMinutes" min="0" value="0">
                    </div>
                </div>

                <div class="wrap descForm">
                    <label class="popis_textBox" for="_formDesc">Popis</label>
                    <textarea name="formDesc" class="textbox" id="_formDesc" cols="70" rows="10"></textarea>
                </div>

                <div class="center flex buttonForm">
                    <div class="flex_row buttons_action">
                        <div>
                            <button type="submit" id="Cancel">Cancel</button>
                        </div>
                        <div>
                            <button type="submit" id="Submit">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <script src="{{ url_for('static', filename='js/checkForFormAndNumber.js') }}"></script>

        <script>
            document.getElementById('_formDate').valueAsDate = new Date();
        </script>
    </div>
{% endblock %}


</body>
</html>