<div class="outerBox_add-edit_window">
    <div id="user_add-edit_window_container">
        <form id="form_add_edit_user" method="GET" class="flex_pres" style="min-height: fit-content">
            <legend style="margin-bottom: 1rem; align-items: flex-start" id="legend_create-edit_user">Přidání
                uživatele
            </legend>
            <div style="width: fit-content;">
                <div class="wrap" style="margin: 1rem 0">
                    <label for="form_firstname" class="popis_textBox">Jméno</label>
                    <input type="text" name="form_firstname" autocomplete="off" id="form_firstname" class="textfield"
                           value="{{ firstname }}" required>
                </div>
                <div class="wrap" style="margin: 1rem 0">
                    <label for="form_lastname" class="popis_textBox">Přijmení</label>
                    <input type="text" name="form_lastname" autocomplete="off" id="form_lastname" class="textfield"
                           value="{{ lastname }}" required>
                </div>
                <div class="wrap" style="margin: 1rem 0">
                    <label for="form_username" class="popis_textBox">Uživatelské jméno</label>
                    <input type="text" name="form_username" autocomplete="off" id="form_username" class="textfield"
                           value="{{ username }}" required>
                </div>
                <div class="wrap" style="margin: 1rem 0">
                    <label for="form_email" class="popis_textBox">E-mail</label>
                    <input type="email" name="form_email" autocomplete="off" id="form_email" class="textfield"
                           value="{{ email }}" required>
                </div>
                <div class="wrap" style="margin: 1rem 0">
                    <label for="form_password" class="popis_textBox">Heslo</label>
                    <input type="password" name="form_password" autocomplete="off" id="form_password" class="textfield"
                           value="{{ password }}" required>
                </div>
                <div class="wrap" style="margin: 1rem 0">
                    <label for="form_perm" class="popis_textBox">Heslo</label>
                    <select name="form_perm" autocomplete="off" id="form_perm" class="textfield"
                            required>
                        <option value="uzivatel">Uživatelský účet</option>
                        <option value="admin">Adminkský účet</option>
                    </select>
                </div>

                <div class="flex_row space_between_el" style="justify-content: space-evenly;">
                    <button type="button" class="button_text" id="user_add-edit_button_cancel">
                        <span class="button_text-text">Zrušit</span>
                    </button>
                    <button type="submit" class="button_filled">
                        <span class="button_filled-text">Uložit</span>
                    </button>
                </div>
            </div>
        </form>


        <script !src="">
            cancel_add_edit_user()

            function get_addEdit_statement(statement) {
                _statement = statement
            }

            /*$(document).on('click', event => {
                if (!$(event.target).closest('#user_add-edit_window_container').length) {
                    $('#_addEdit_window').css('display', 'none')
                    $('#user_add-edit_window_container').remove()
                }
            });*/

            function cancel_add_edit_user() {
                $('#legend_create-edit_user').text(legend_text)
                console.log("ready")
                $('#_addEdit_window_users').css('display', 'block')
                $('#user_add-edit_button_cancel').click(function () {
                    $('#_addEdit_window_users').css('display', 'none')
                    $('#user_add-edit_window_container').remove()
                })
            }

            $(function () { //pridani uzivatele pomocí ajax protokolu
                $('#form_add_edit_user').submit(function (event) {
                    var localUsername = $('#form_username').val()
                    console.log(localUsername)
                    event.preventDefault()
                    if (_statement === 'button-add-user') {
                        form = $(this)
                        $.ajax({
                            type: "POST",
                            url: "/user/add/",
                            data: form.serialize(),
                            success: function (response) {
                                if (response !== "1") {
                                    get_user_table('/app/appUpt/updateUserList');
                                    $('#user_add-edit_window_container').remove()
                                    $('#_addEdit_window_users').css('display', 'none')
                                } else {
                                    console.log("Uživatelské jméno nebo e-mail je stejné")
                                }
                            },
                        });
                    } else if (_statement === 'button_edit_user') {
                        console.log("TEST")
                        form = $(this)
                        $.ajax({
                            type: "POST",
                            url: "/user/" + user_ids + "/edit/",
                            data: form.serialize(),
                            success: function (response) {
                                get_user_table('/app/appUpt/updateUserList');
                                $('#user_add-edit_window_container').remove()
                                $('#_addEdit_window_users').css('display', 'none')
                            },
                        });
                    } else if (_statement === 'button-add-user-out') {
                        console.log("TEST")
                        form = $(this)
                        $.ajax({
                            type: "POST",
                            url: "/user/add/",
                            data: form.serialize(),
                            success: function (response) {
                                if (response !== "1") {
                                    get_user_table('/app/appUpt/updateUserList');
                                    $('#user_add-edit_window_container').remove()
                                    $('#_addEdit_window').css('display', 'none')
                                } else {
                                    console.log("Uživatelské jméno nebo e-mail je stejné")
                                }
                            },
                        });
                    }
                    start()
                });
            });
        </script>
    </div>

</div>
</div>
