<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Main Stránka
    </title>

    {# Skript pro background task #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function () {
            $('button#test').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/background_process_test',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
    </script>
</head>
<body>
<div class='container'>
    {% for text in text %}
        <style>
            p {
                margin: 5px 10px;
            }
        </style>
        <div style="display: flex; width: 512px">
            <p>{{ text.dates }}</p>
            <p>{{ text.timeInMinutes }}</p>
            <p>{{ text.programmingLang }}</p>
            <p>{{ text.rating }}</p>
            <p>{{ text.description }}</p>
        </div>

    {% endfor %}

    <h3>Text</h3>
    <a href=#>
        <button id=test class='btn btn-default'>Test</button>
    </a>
</div>
</body>
</html>