<div class="note paper" style="display: flex; width: 15rem;
height: 15rem; justify-content: center;" id="note_paper_edit">
    <div>
        <form style="display: flex;
flex-flow: column;
align-items: center;" id="form_note_add">
            <div class="noteText">
                    <textarea type="text" id="form-text" name="form-text" value="" style="color: black;
width: 100%; height: 10rem; background: #ffff60; border: 1px black dashed; padding: 0.2rem;"></textarea>
            </div>
            <div class="podpis">
                <input type="text" id="form-podpis" name="form-podpis"
                       style="background: #ffff60; border: 1px black dashed; padding: 0.2rem; font-size: 1rem;">
            </div>

            <input type="date" id="form-date" name="form-date" style="display: none">
            <div style="width: 115%; display: flex; justify-content: space-around; margin-top: 4rem">
                <button type="submit" class="edit button_filled" id="Edit"><span class="button_filled-text">
                        Přidat
                    </span></button>
            </div>

        </form>
    </div>
    <div>

    </div>
</div>

<script>
    document.getElementById("form-date").valueAsDate = new Date()

    $(document).ready(function () {
        var maxLength = 120; // Change this to your desired max length
        var maxLengths = 28; // Change this to your desired max length

        $('#form-text').keyup(function () {
            var length = $(this).val().length;
            if (length > maxLength) {
                $(this).val($(this).val().substr(0, maxLength));
            }
        });

        $('#form-podpis').keyup(function () {
            var length = $(this).val().length;
            if (length > maxLengths) {
                $(this).val($(this).val().substr(0, maxLengths));
            }
        });
    });

    $('body').on('click', function (event) {
        $('#note_paper_edit').remove()
        $('#edit_window').css('display', 'none')
    })

    $('#note_paper_edit').on('click', function (event) {
        event.stopPropagation()
    })
</script>


<script src="./../static/js/manage_script.js"></script>
