<script src="../static/js/jquery-3.6.4.min.js"></script>
<script src="../static/js/manage_script.js"></script>

<div class="note">
    <form id="form_note" id_note="3">
        <div class="noteText">
            <input type="text" id="form-text">
        </div>
        <div class="podpis">
        <input type="text" id="form-podpis">
        </div>
        <button type="submit" class="edit" id="Edit">Edit</button>
    </form>
    <button type="submit" class="delete" id="Delete">Delete</button>
</div>