<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/records.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sortControl.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
</head>
<body>
<div id="_remove_approval" style="display: none">
    {% include 'removeWarn.html' %}
</div>
<div id="sort-filter">
    <form method="GET" id="filter-form">
        <label for="filter_rating">Filter by:</label>
        <select name="filter_programmingLangs" id="filter_programmingLangs">
            {% for def in defs %}
                <option id="option_{{ def.progLangs }}"
                        value="{{ def.progLangs }}">{{ def.progLangs }}</option>
            {% endfor %}
        </select>
        <select name="filter_programmers" id="filter_programmers">
            <option id="option_None" value="None">None</option>
            {% for programmer in programmers %}
                <option id="option_{{ programmer.programmer }}"
                        value="{{ programmer.id }}">{{ programmer.programmer }}</option>
            {% endfor %}
        </select>
        <input type="date" name="filter_min_date" id="filter_min_date">
        <input type="date" name="filter_max_date" id="filter_max_date">
        {% include 'customElements/slider.html' %}
        <button type="submit">Filter</button>
    </form>
</div>

<div id="table">
    <table>
        <thead>
        <tr>
            <td id="sort-button-programmer" class="ui-sort-control">
                Programátor
                <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                    <img id="sort-button-programmer-az" style="width: 10px; position: absolute; bottom: 2px;"
                         src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                    <img id="sort-button-programmer-za" style="width: 10px; position: absolute;"
                         src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                </div>
            </td>
            <td id="sort-button-programLang" class="ui-sort-control">
                Jazyk
                <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                    <img id="sort-button-programmingLang-az" style="width: 10px; position: absolute; bottom: 2px;"
                         src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                    <img id="sort-button-programmingLang-za" style="width: 10px; position: absolute;"
                         src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                </div>
            </td>
            <td>Popis</td>
            <td id="sort-button-time" class="ui-sort-control">
                Čas
                <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                    <img id="sort-button-timeInMinutes-az" style="width: 10px; position: absolute; bottom: 2px;"
                         src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                    <img id="sort-button-timeInMinutes-za" style="width: 10px; position: absolute;"
                         src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                </div>
            </td>
            <td id="sort-button-date" class="ui-sort-control">
                Datum
                <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                    <img id="sort-button-dates-az" style="width: 10px; position: absolute; bottom: 2px;"
                         src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                    <img id="sort-button-dates-za" style="width: 10px; position: absolute;"
                         src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                </div>
            </td>
            <td id="sort-button-rating" class="ui-sort-control">
                Hodnocení
                <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                    <img id="sort-button-rating-az" style="width: 10px; position: absolute; bottom: 2px;"
                         src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                    <img id="sort-button-rating-za" style="width: 10px; position: absolute;"
                         src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                </div>
            </td>
        </tr>
        </thead>
        <tbody id="table-content">
        {% include 'table_records.html' %}
        </tbody>
    </table>
</div>


<script>
    $("[id$=sharp]").each(function () {
        var text = $(this).text();

        text = text.replace('sharp', '#');
        $(this).text(text);
    })
</script>
<script src="{{ url_for('static', filename='js/showRecordsScripts/updateTableWithoutRefresh.js') }}"></script>
<script src="{{ url_for('static', filename='js/deleteModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/sliderScript.js') }}"></script>
</body>
</html>