<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/records.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sortControl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userOverview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/records.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vars_default.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/userOverview.js') }}"></script>
</head>
<body>
    <div id="_addEdit_window" style="position: absolute; width: 100%; height: 100%; z-index: 5">

    </div>
    <div>
        {% include 'action_tab.html' %}
    </div>
    {#
<table>
                <thead>
                <tr>
                    <td id="sort-button-programmer" class="ui-sort-control">
                        Programátor
                        <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                            <img id="sort-button-programmer-az" style="width: 10px; position: absolute; bottom: 2px;"
                                 src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                            <img id="sort-button-programmer-za" style="width: 10px; position: absolute;"
                                 src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                        </div>
                    </td>
                    <td id="sort-button-programLang" class="ui-sort-control">
                        Jazyk
                        <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                            <img id="sort-button-programmingLang-az"
                                 style="width: 10px; position: absolute; bottom: 2px;"
                                 src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                            <img id="sort-button-programmingLang-za" style="width: 10px; position: absolute;"
                                 src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                        </div>
                    </td>
                    <td>
                        Popis
                        <div style="visibility: hidden; width: 16px; position: relative;" class="ui-sort-control-hand">
                            <img id="sort-button-programmingLang-az"
                                 style="width: 10px; position: absolute; bottom: 2px;"
                                 src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                            <img id="sort-button-programmingLang-za" style="width: 10px; position: absolute;"
                                 src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                        </div>
                    </td>
                    <td id="sort-button-time" class="ui-sort-control">
                        Čas
                        <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                            <img id="sort-button-timeInMinutes-az" style="width: 10px; position: absolute; bottom: 2px;"
                                 src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                            <img id="sort-button-timeInMinutes-za" style="width: 10px; position: absolute;"
                                 src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                        </div>
                    </td>
                    <td id="sort-button-date" class="ui-sort-control">
                        Datum
                        <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                            <img id="sort-button-dates-az" style="width: 10px; position: absolute; bottom: 2px;"
                                 src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                            <img id="sort-button-dates-za" style="width: 10px; position: absolute;"
                                 src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                        </div>
                    </td>
                    <td id="sort-button-rating" class="ui-sort-control">
                        Hodnocení
                        <div style="width: 16px; position: relative;" class="ui-sort-control-hand">
                            <img id="sort-button-rating-az" style="width: 10px; position: absolute; bottom: 2px;"
                                 src="{{ url_for('static', filename='svg/caret-up.png') }}" alt="">
                            <img id="sort-button-rating-za" style="width: 10px; position: absolute;"
                                 src="{{ url_for('static', filename='svg/caret-down.png') }}" alt="">
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody id="table-content">
                {% include 'table_records.html' %}
                </tbody>
            </table>
        </div>
#}
    <div class="table_center">
        <div id="table">
            {% include 'customElements/table_row.html' %}
        </div>
    </div>


    <script>
        /*$("[id$=sharp]").each(function () {
            var text = $(this).text();

            text = text.replace('sharp', '#');
            $(this).text(text);
        })*/
    </script>
    <script src="{{ url_for('static', filename='js/showRecordsScripts/updateTableWithoutRefresh.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deleteModal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sliderScript.js') }}"></script>
</body>
</html>