<div class="outerBox_add-edit_window">
    <div id="removeWarn" style="position:absolute; background: white; z-index: 5">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/customElements/removeWarn.css') }}">
        <form method="GET" id="form-delete">
            <div class="removeWarn_texts">
                <h2 id="_header-delete-info" style="font-size: 1.5rem">Vazne si prejes smazat tento zaznam?</h2>
                <h2 style="font-size: 1rem">Tato akce je nevratna!</h2>
            </div>
            <div style="display: flex; width: 230px; justify-content: space-between; margin-top: 40px">
                <button type="button" id="_escButton" class="button_removeWarn button_text" onclick="f(); function f() {
          document.getElementById('_remove_approval').style.display = 'none'
        }" style="color: #E75050;"><span class="button_text-text">Zrušit</span>
                </button>
                <button type="submit" id="_deleteButton" style="background-color: #E75050; border-color: #E75050"
                        class="button_removeWarn button_filled">
                    <span class="button_filled-text">Smazat</span>
                </button>
            </div>
        </form>

        <script>
            cancel_remove_warn()

            function cancel_remove_warn() {
                console.log("ready")

                if (self_statement === "user") {
                    $('#_addEdit_window_users').css('display', 'block')
                    $('#_escButton').click(function () {
                        $('#_addEdit_window_users').css('display', 'none')
                        $('#removeWarn').remove()
                    })
                } else {
                    $('#_addEdit_window').css('display', 'block')
                    $('#_escButton').click(function () {
                        $('#_addEdit_window').css('display', 'none')
                        $('#removeWarn').remove()
                    })
                }

            }

            $(function () { //odstranění uzivatele pomocí ajax protokolu
                $('#form-delete').submit(function (event) {
                    console.log(self_statement)
                    event.preventDefault()
                    if (self_statement === "user") {
                        $.ajax({
                            type: "POST",
                            url: "/user/" + itemId + "/delete/",
                            success: function (response) {
                                console.log("PASS")
                                get_user_table('/app/appUpt/updateUserList');
                                $('#removeWarn').remove()
                                $('#_addEdit_window_users').css('display', 'none')
                                sortWithoutRefresh()
                            },
                        });
                    } else if (self_statement === "record") {
                        $.ajax({
                            type: "POST",
                            url: "/app/" + record_id + "/delete/",
                            success: function (response) {
                                sortWithoutRefresh()
                                $('#removeWarn').remove()
                                $('#_addEdit_window').css('display', 'none')
                            },
                        });
                    }
                });
            });
        </script>
    </div>
</div>

