<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='commits.css') }}">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    rel="stylesheet">
    <style>
        p, h1, h2, h3, div * {
            color: white;
        }

        body {
            background: #0a0f17;
        }

        #response {
            margin: 0 20px;
        }
    </style>
</head>
<body>
<div id="response">
    <h1>Statistky:</h1>
    <div class="text_only">
        <p>Poslední commit</p>
        <p id="popis_posledniho_commitu"></p>
    </div>

    <div class="text_only">
        <p>Celkový počet commitů</p>
        <p id="pocet_commitu"></p>
    </div>

    <h2>Statistiky z dneška:</h2>
    <div>
        <p>Celkový počet commitů:</p>
        <p id="dnesni_pocet_commitu"></p>
    </div>

    <h2>Dashboard uživatelů</h2>
    <div id="users" style="display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;">
    </div>

</div>

{% include 'menu_bare.html' %}
</body>

<script src="../static/js/jquery-3.6.4.min.js"></script>
<script>
    let uzivatele
    $.ajax({
        type: "GET",
        url: "https://tda.knapa.cz/user/",
        headers: {
            'accept': 'application/json',
            'x-access-token': '8348b3868e95aba652ecde7f6cb7d0bf'
        },
        success: function (response) {
            uzivatele = response
            for (let i = 0; i < uzivatele.length; i++) {
                $('#users').append("<div class='image_and_text_cont'>" +
                    "<div class='image_and_text'>" +
                    "<div style='width: 48px; height: 48px; border-radius: 64px; background: center no-repeat; background-size: 100%; background-image: url(\"" +
                    uzivatele[i]['avatar_url'] + "\")'></div>" +
                    uzivatele[i]['name'] + " " + uzivatele[i]['surname'] +
                    "</div>" +
                    "</div>");


            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });

    $.ajax({
        type: "GET",
        url: "https://tda.knapa.cz/commit/latest/1",
        headers: {
            'accept': 'application/json',
            'x-access-token': '8348b3868e95aba652ecde7f6cb7d0bf'
        },
        success: function (response) {
            console.log()
            $('#popis_posledniho_commitu').text(response[0]["description"])
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });

    $.ajax({
        type: "GET",
        url: "https://tda.knapa.cz/commit/",
        headers: {
            'accept': 'application/json',
            'x-access-token': '8348b3868e95aba652ecde7f6cb7d0bf'
        },
        success: function (response) {
            $('#pocet_commitu').text(response.length)
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });

    $.ajax({
        type: "GET",
        url: "https://tda.knapa.cz/commit/filter/2023-03-31T00:00:00",
        headers: {
            'accept': 'application/json',
            'x-access-token': '8348b3868e95aba652ecde7f6cb7d0bf'
        },
        success: function (response) {
            $('#dnesni_pocet_commitu').text(response.length)
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
</script>
</html>