<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: gray">
<form method="GET" id="sort-form">
    <label for="sort_field">Sort by:</label>
    <select name="sort_field" id="sort_field">
        <option value="programmingLang">Name</option>
        <option value="dates">Age</option>
    </select>
    <label for="sort_order">Order:</label>
    <select name="sort_order" id="sort_order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button type="submit">Sort</button>
</form>
<div id="table">
    <table style="width: 500px">
        {% for text in texts %}
            <tr>
                <td>{{ text.programmer }}</td>
                <td>{{ text.programmingLang }}</td>
                <td>{{ text.dates }}</td>
                <td>{{ text.timeInMinutes }}</td>
                <td>{{ text.rating }}/5</td>
            </tr>
        {% endfor %}
    </table>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/showRecordsScripts/updateTableWithoutRefresh.js') }}"></script>

</body>
</html>