{% block recordsTable %}
        {% for text in texts %}
            <tr id="{{ text.id }}">
                <td>{{ text.programmer }}</td>
                <td class="prog_lang{{ text.programmingLang }}">{{ text.programmingLang }}</td>
                <td class="table_description">{{ text.description }}</td>
                <td>{{ text.timeInMinutes }}</td>
                <td>{{ text.dates }}</td>
                <td>{{ text.rating }}/5</td>
                <td><a href="/app/{{ text.id }}/edit/" id="edit">Edit</a></td>
                <td><a onclick="deleteModal({{ text.id }}, 'Přeješ si smazat tento záznam?')" id="delete">Delete</a>
                </td>
                {#  href="/app/{{ text.id }}/delete/" #}
            </tr>
        {% endfor %}
{% endblock %}


<script>
    shortDesc()
    deCsharp()

    function shortDesc() {
        let desc = document.querySelectorAll('.table_description')
        desc.forEach((table_description) => {
                //console.log(table_description.innerText.length);
                if (table_description.innerText.length >= 55) {
                    table_description.innerText = table_description.innerText.substring(0, 55) + "..."
                }
            }
        )
    }

    function deCsharp() {
        let lang = document.querySelectorAll('.prog_langCsharp')
        lang.forEach((table_proglang) => {
                //console.log(table_proglang.innerText);
                table_proglang.innerText = table_proglang.innerText.replace("sharp", "#")
            }
        )
    }
</script>
